:root{
	--body-background-color: #f5f6f7;
	--font-color: #4e4e4e;
	--border-gray-color : #dadada;
	--genergy-blue-color: #1395ac;
	--genergy-blue-border-color: #2989f7;

}

*{
	margin:0;
	padding:0;
}


.member-wrap .join-btn-wrap a.btn-cancel {
    background: #d3d3d3;
    color: #464646;
}

.member-wrap .join-btn-wrap a {
    display: inline-block;
    margin: 0 5px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
}

.member-wrap .join-btn-wrap a {
    display: inline-block;
    margin: 0 5px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    line-height: 50px;
}

.member-wrap .join-btn-wrap a.btn-confirm {
    background:#1395ac;
    color: #fff;
}

.member-wrap .join-btn-wrap {
    clear: both;
    padding: 30px 0 0;
    width: 100%;
    text-align: center;
    font-size: 0;
    line-height: 0;
}
.form-table {
	padding-left: 10px;
	padding-bottom: 10px;
}
.form-table tr td input{
	width: 270px;
}
.member-wrap .form-table tr td input, .member-wrap .form-table tr td select, .member-wrap .form-table tr td span, .member-wrap .form-table tr td label, .member-wrap .form-table tr td .check-btn {
    display: inline-block;
    margin-right: -5px;
}

.member-wrap input[type="text"], .member-wrap input[type="password"], .member-wrap select {
    padding: 0 0.4375rem;
    height: 2.1875rem;
}


body, th, td, input, select, textarea, button {
    /* font-weight: 400; */
    /* font-size: 14px; */
    /* line-height: 1.5; */
    font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
    /* color: #222; */
}

.member-wrap input, .member-wrap select, .member-wrap textarea {
    border: 1px solid #dedede;
    /* border-radius: 0; */
    background: #fff;
    font-size: 0.8125rem;
    line-height: 1;
    color: #414141;
    vertical-align: middle;
}

.member-wrap .form-table tr td {
    padding: 7px 13px 8px;
    font-size: 13px;
    line-height: 18px;
    color: #666;
    vertical-align: middle;
}

.member-wrap .form-table tr th {
    padding: 16px 10px 16px 20px;
    background: #f4f4f4;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #303030;
    text-align: left;
    vertical-align: middle;
	width: 100px;
}

.member-wrap .join-form-wrap legend span {
    display: inline-block;
    margin: 7px 0 0;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #666;
}

.member-wrap .join-form-wrap legend {
    padding: 30px  10px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 20px;
    color: #303030;
}